section.fullsection {
    width: 100%;
    height: 100%;
}

section.smallsection1 {
    width: 100%;
    height: 50%;
}

section.smallsection2 {
    width: 100%;
    height: 20%;
}

section.section1 {
    background-image: url('images/Capture7.PNG');
    background-repeat: repeat;
    position: relative;
}

section.section2 {
    background-image: url('images/Capture2.PNG');
    background-repeat: repeat;
    position: relative;
}

section.section3 {
    background-color: white;
    font-family: 'Lato', sans-serif;
    position: relative;
}

section.section4 {
    background-image: url('images/Capture3.PNG');
    background-repeat: repeat;
}

section.section5 {
    background-image: url('images/Capture1.PNG');
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
    margin: 3px;
}

section.section6 {
    background-color: white;
}

img.image1 {
    height: auto;
    width: 45%;
    padding-left: 140px;

}

img.image2 {
    height: auto;
    width: 7%;
    padding-left: 940px;
}

img.image1:hover {
    opacity: 0.5;
    transition: 1s;
}

img.image2:hover {
    opacity: 0.5;
    transition: 1s;
}

div.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

div.lines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
}

h1.heading {
    color: white;
    padding-left: 50vw;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
}

p.para {
    color: white;
    padding-left: 20vw;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
}

p.box {
    color: white;
    border: 3px;
    border-style: solid;
    border-color: white;
    font-family: monospace;
    margin-left: 82vw;
    margin-right: 25vw;
    padding: 10px;
    font-size: 1.5vw;
}

img.image3 {
    width: auto;
    height: auto;
    max-width: 51%;
    max-height: 173px;
    left: 20vw;
    bottom: 0px;
    position: absolute;
}

td.location {
    padding-left: 150px;
    padding-top: 50px;
}

h1.head1 {
    color: slategray;
    font-family: monospace;
    font-size: 2.7vw;
}

p.par1 {
    color: slategray;
    font-family: monospace;
    font-size: 1vw;
}

p.par2 {
    color: slategray;
    font-family: monospace;
    font-size: 1vw;
    border-left: 5px solid deepskyblue;
    padding-left: 10px;
}

p.par3 {
    color: lightseagreen;
    border: 4px;
    border-style: solid;
    border-color: lightseagreen;
    margin-left: 2px;
    margin-right: 500px;
    padding: 15px;
    font-family: monospace;
    font-size: 1.3vw;
}

p.par3:hover {
    opacity: 0.5;
    transition: 1s;
}

img.image4 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 250px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

img.image5 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 250px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

td.secsec {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
}

h1.title {
    color: black;
    font-size: 2vw;
}

p.paragraph1 {
    color: black;
    font-size: 1.2vw;
}

p.paragraph2 {
    color: slategray;
    font-size: 1.2vw;
}

p.par4 {
    color: deeppink;
    border: 3px;
    border-style: solid;
    border-color: deeppink;
    padding: 15px;
    font-size: 1vw;
    margin-right: 350px;
}

p.par4:hover {
    opacity: 0.5;
    transition: 1s;
}

p.par5 {
    text-align: center;
    color: white;
    font-size: 3.8vw;
    font-family: 'Lato', sans-serif;
    padding-top: 15px;
}

p.par6 {
    text-align: center;
    color: white;
    margin-right: 600px;
    margin-left: 600px;
    padding: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    border: 3px solid white;
    border-collapse: collapse;
}

p.par6:hover {
    opacity: 0.5;
    transition: 1s;
}

p.last {
    text-align: center;
    padding-top: 25px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

div.child {
    display: inline-flex;
    flex-direction: rwo;
    justify-content: space-between;
}

div.spacebetween1 {
    gap: 35px;
}

div.spacebetween2 {
    gap: 40px;
}

input.inputspace {
    border: none;
    height: 30px;
    border-radius: 7px;
    padding-left: 5px;
}

div.main-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.sub-div {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
}

span.nowrap {
    white-space: nowrap;
}